body, html, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

.App {
  background-color: #d1e4f1fb;
  padding: 2em;
  height: 100%;
  text-align: center;
  display: grid;
  /* grid-template-rows: [row1-start] 50% [row2-start] auto [row3-start] auto [row-end];
  grid-template-columns: [col1-start] 50% [col2-start] 50% [col-end]; */

  grid-template: 
    [row1-start] "client-list consumption-list" 50% [row1-end]
    [row2-start] "client-add consumption-add" auto [row2-end]
    [row3-start] "monthly-report monthly-report" auto [row3-end]
    / 50% 50%;
  gap: 1em 1em;
  place-items: center;
}

.client-list {
  grid-area: client-list;
  max-height: 100%;
  overflow: hidden scroll;
}

.consumption-list {
  grid-area: consumption-list;
  max-height: 100%;
  overflow: hidden scroll;
}

.add-client {
  grid-area: client-add;
}

.add-consumption {
  grid-area: consumption-add;
}

.monthly-report {
  grid-area: monthly-report;
}



li.selectedClient {
  background-color: #F1DED1;
}